*{
    font-size: 20px;
    font-family: 'Jost';

}
body{
    margin:0;
    padding:0;

}

.logo {
    height: 40px;
    margin-left: 50px;
    margin-bottom: 5px;
    
}
main{
    border:whitesmoke 1px solid;
    width: 100%;
    display:flex;
    justify-content:left;
    align-items: center;
}
.header{
    width: 100%;
    height: 9.47%;
    background-image: url(pic/main\ background\ 1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 30px;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 18px;
}
.header a.current_pg{
    color: white;
    background-color: black;
    padding: 4px 10px;
}

.left-side{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.logo{
    height: 40px;
    margin-left: 50px;
    margin-bottom: 5px;
}

.header a.contact{
    color: white;
    background-color: black;
    padding: 4px 10px;
}
.current_pg{
    color: white;
    background-color: black;
    padding: 4px 10px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.right-side
{
    margin-right: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.footer{
    width: 100%;
    height: 10.16%;
    background-image: url(pic/main\ background\ 2.png);
    background-size: cover;
}
.sign{
    border-right: solid;
    padding-right: 10px;
}

.line{
    border-top: solid;
    display: block;
    width: 98%;
    margin: 0px auto;
}

.content{ 
    width: 100%;
    height: 80.37%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    position: relative;
    background-color: #FAECD8;
}
.container{
    
    max-width:1200px;
    margin: 0;
    padding:0 40px;
    overflow:auto;
    background-color:transparent;
}
h1{
    
    font-size: 35px;
    font-family: 'Madimi One';
    border-left: solid;
    border-width: 7px;
    border-color: #FFAE3A;
    width: fit-content;
}

/*HOME PAGE*/
.Home.Column1{
    width:70%;  
    height: 600px;
    background-color: #FAECD8;
    
}
.Home.Column2{
    width:30%;  
    height: 600px;
    background-color: #ffffff;  
} 
.Home.Column1 .text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:110px;
    position: absolute;
    width: 100%;
}

.Column1 button{
    padding: 5px 12px;
    border-radius: 59px;
    background-color: #EF947A;
    border-color: transparent;
    font-size: 20px;
    color: white;
}
.Home .Column1 button a{
    color:white;
    text-decoration: none;
}

/*ABOUT PAGE*/
.About.Column1{
    width:40%;
    height: 700px;  
    background-color: #ffffff;  
    
}
.About.Column2{
    width:60%;
    height: 700px;  
    background-color: #FAECD8;  
} 

/*FEATURES PAGE*/
.Features{
    width: 100%;
    display: flex;
    justify-content: center;
    

    
}
.card{
    background-color: #EF947A;
    width:300px;
    height:380px;
    border-bottom: solid;
    border-color: grey;
    box-shadow: 0 15px 20px rgba(128,128,128,0.5);
    border-radius: 30px;
    margin: 30px 15px;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card img{
    width:280px;
    height: 181px;
    border-radius: 30px;
    object-fit: cover;        /* Crops the image to cover the container fully */
    object-position: center;  /* Centers the image within the container */

}
 /* Expanded card styles */
 .expandedcard {
    display: none; /* Initially hidden */
    /*display:flex;*/
    flex-direction: row;
    width: 1380px;
    height: 440px;
    background-color: #EF947A;
    border-bottom: solid;
    border-color: grey;
    box-shadow: 0 15px 20px rgba(128,128,128,0.5);
    border-radius: 30px;
    margin: 30px 15px;
    padding: 40px 20px;
    position:relative;
}

.expanded-col1{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expanded-col2{
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expanded-img{
    width:500px;
    height: 340px;
    border-radius: 30px;
    object-fit: cover;        /* Crops the image to cover the container fully */
    object-position: center;  /* Centers the image within the container */
}

.icon-container {
    display: flex;
    justify-content: flex-end;   /* Align icon to the right */
    padding-right: 20px;
    position: absolute;
    top: 50px;
    right:50px;
}

.icon-container i {
    font-size: 32px;             /* Make the icon larger *//* Change color if desired ; color: #333;*/
    cursor: pointer;             /* Pointer cursor for click effect */
}


/* Card description */
.expanded-description {
    font-size: 23px;
    padding: 10px;
}

.get-started-bt:hover {
    background-color: #d32f2f;
}
.additional-features{
    display: flex;
    flex-direction: row;
}
.additional-features-card{
    background-color: #EF947A;
    width:390px;
    height:490px;
    border-bottom: solid;
    border-color: grey;
    box-shadow: 0 15px 20px rgba(128,128,128,0.5);
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.additional-features-card.card1{
    background-color: #ffd9bb;
}
.additional-features-card.card3{
    background-color: #f6f2ed;
}

/*Lesson Plan Generator*/
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group select, .form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.button {
    padding: 10px 20px;
    background-color: #dc837d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.button:hover {
    background-color: #d32f2f;
}
.lesson-plan {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.content-otherfeatures{
    background-color: rgb(255, 247, 237);
    padding: 40px;
}

#teacherPreferencesChart {
    width: auto;
    max-height: 1000px; 
    height: auto; 
    padding: 90px;
}

canvas{
    background-color: white;
    border: solid;
    border-radius: 50px;
    margin-bottom: 100px;
    padding: 90px;
}

/*Quiz Generator*/
.quiz-container {
    margin: 20px;
}
.quiz-question {
    margin-bottom: 10px;
    background-color: white;
    padding: 60px;
    border: solid;
    border-radius: 20px;
}

.question-list {
    margin-bottom: 30px;
    
}